@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

a{
  font-family: 'Orbitron';
}
.header-color{
  color: rgb(255, 255, 255) !important;

}

.Landing-grid {
text-align: center;
position: fixed;
bottom: -50px;
left: 0;
width: 100%;
height: 100%;

}
.avatar-img{
  height: 250px;
  margin-top: 5em;
  display: block;
  
  /* margin-right: auto; */
  border-radius: 15px 15px;
  box-shadow: 4px 4px 8px ;
  
  margin-left: 75%;
  
  
}

.banner-text{
  background-color: black;
  opacity: 0.7;
  width: 80%;
  margin: auto;
  margin-top: 0px;
  border-radius: 10px;
  text-align: center;
  
  
}
.Landing-grid h1{
  font-size: 40px;
  font-weight: bold;
  color: white;
  
  
  
}
.banner-text h2{
  font-size: 40px;
  font-weight: lighter;
  font-family: 'Major Mono Display', monospace;
  color: white;
  
  
  
  
}
.mdl-navigation__link:hover {
    
  -webkit-transform: scale(1.2) !important;
    -ms-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
    
}


.mdl-navigation__link:active{
  color: rgb(48, 48, 48) !important;
}
.name h1{
  color: rgb(255, 255, 255);
  
  margin-left: 380px;
  
 font-size: 5em;
 
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-family: 'Satisfy', cursive, monospace !important;
  
}
.name h4{
  color: rgb(0, 0, 0);
  
  text-align: center;
  left: 20%;
  font-size: 27px;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  position: fixed;
  
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  font-family: 'Dancing Script', cursive, monospace !important;
  
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 90%;
  margin: auto;
}
.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}
.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;

}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;

}
.page-content{
  /* The image used */
  background-image: url("/src/components/background.jpg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
.mdl-layout__header {
  background-color: rgb(115 115 115) !important;
  }  



.project-grid{
  display: flex;
  
}

.mdl-tabs__tab-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.432) !important;
}
.contact-body{
  margin: auto;
  
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 20px;
  height: 530px;
  background: rgba(46, 46, 46, 0.267);
  
  
}

.contact-grid h2{
  font-family: 'Anton', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow:5px 5px 6px rgb(0, 0, 0);
}
.contact-grid p{
  font-family: 'Oxygen',sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow:2px 2px 5px rgb(0, 0, 0);
}
/* .contact-grid hr{
  border-top:3px solid rgb(0, 0, 0) ;
  width: 50%;
  margin: auto;
} */

.contact-list i{
  font-size: 60px;
  padding-right: 5rem;
}
/* resume page*/

.resume-right-col{
  background-color: #2727278a;
  color: rgb(255, 255, 255);
  padding: 2em;
  
}
.resume-right-col h2{
font-family: 'Turret Road';
}
.resume-left-grid{
   padding-left: 5px;
}
.resume-left-grid h5{
  font-family: 'Michroma';
}
.resume-left-grid p{
  font-family: 'Oxygen','sans-serif';
  font-weight: bold;
}
.resume-right-col h4{
  font-family: 'Michroma';

  }
  .resume-right-col p{
    font-family: 'Oxygen','sans-serif';
    
  } 
  